2.6. Problem Statement: Pandas SQL

In [15]:
import pandas as pd
from pandasql import sqldf

In [2]:
ds = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header = None)
ds.columns = ['age','workclass','fnlwgt','education','education-num','marital_status','occupation',
              'relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','state']
ds

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,state
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
sqladb = lambda q: sqldf(q, globals())

1. Select 10 records from the adult sqladb

In [4]:
sqladb('SELECT * FROM  ds LIMIT 10;')

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,state
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

2. Show me the average hours per week of all men who are working in private sector

In [5]:
sqladb("SELECT AVG(hours_per_week) FROM ds WHERE sex = ' Male' AND workclass =' Private';")

   AVG(hours_per_week)
0            42.221226

3. Show me the frequency table for education, occupation and relationship, separately

In [6]:
sqladb("SELECT education, COUNT( education) frequency FROM ds GROUP BY education ORDER BY frequency;")

        education  frequency
0       Preschool         51
1         1st-4th        168
2         5th-6th        333
3       Doctorate        413
4            12th        433
5             9th        514
6     Prof-school        576
7         7th-8th        646
8            10th        933
9      Assoc-acdm       1067
10           11th       1175
11      Assoc-voc       1382
12        Masters       1723
13      Bachelors       5355
14   Some-college       7291
15        HS-grad      10501

In [7]:
sqladb("SELECT occupation, COUNT( occupation) frequency FROM ds GROUP BY occupation ORDER BY frequency;")

            occupation  frequency
0         Armed-Forces          9
1      Priv-house-serv        149
2      Protective-serv        649
3         Tech-support        928
4      Farming-fishing        994
5    Handlers-cleaners       1370
6     Transport-moving       1597
7                    ?       1843
8    Machine-op-inspct       2002
9        Other-service       3295
10               Sales       3650
11        Adm-clerical       3770
12     Exec-managerial       4066
13        Craft-repair       4099
14      Prof-specialty       4140

In [8]:
sqladb("SELECT relationship, COUNT( relationship) frequency FROM ds GROUP BY relationship ORDER BY frequency;")

      relationship  frequency
0   Other-relative        981
1             Wife       1568
2        Unmarried       3446
3        Own-child       5068
4    Not-in-family       8305
5          Husband      13193

4. Are there any people who are married, working in private sector and having a masterâ€™s degree

In [11]:
sqladb("SELECT count(*) as People FROM ds WHERE 'marital_status' like ' Married-%' AND workclass =' Private' AND education =' Masters'")

   People
0       0

5. What is the average, minimum and maximum age group for people working in different sectors

In [24]:
sqladb("SELECT workclass as sector, AVG(age) averageAge, MIN(age) minAge, MAX(age) maxAge  FROM ds GROUP BY workclass")

              sector  averageAge  minAge  maxAge
0                  ?   40.960240      17      90
1        Federal-gov   42.590625      17      90
2          Local-gov   41.751075      17      90
3       Never-worked   20.571429      17      30
4            Private   36.797585      17      90
5       Self-emp-inc   46.017025      17      84
6   Self-emp-not-inc   44.969697      17      90
7          State-gov   39.436055      17      81
8        Without-pay   47.785714      19      72

6. Calculate age distribution by country

In [12]:
sqladb("SELECT native_country, Round(Round((count(age)*100),5)/Round((select COUNT(age) FROM ds),5),5) AS 'Age Distribution'  FROM ds GROUP BY native_country ORDER BY count(age) ")

                 native_country  Age Distribution
0            Holand-Netherlands           0.00307
1                      Scotland           0.03685
2                      Honduras           0.03993
3                       Hungary           0.03993
4    Outlying-US(Guam-USVI-etc)           0.04300
5                    Yugoslavia           0.04914
6                          Laos           0.05528
7                      Thailand           0.05528
8                      Cambodia           0.05835
9               Trinadad&Tobago           0.05835
10                         Hong           0.06142
11                      Ireland           0.07371
12                      Ecuador           0.08599
13                       France           0.08906
14                       Greece           0.08906
15                         Peru           0.09521
16                    Nicaragua           0.10442
17                     Portugal           0.11363
18                         Iran           0.13206
19                        Haiti           0.13513
20                       Taiwan           0.15663
21                     Columbia           0.18120
22                       Poland           0.18427
23                        Japan           0.19041
24                    Guatemala           0.19655
25                      Vietnam           0.20577
26           Dominican-Republic           0.21498
27                        Italy           0.22419
28                        China           0.23034
29                        South           0.24569
30                      Jamaica           0.24876
31                      England           0.27640
32                         Cuba           0.29176
33                        India           0.30712
34                  El-Salvador           0.32554
35                  Puerto-Rico           0.35011
36                       Canada           0.37161
37                      Germany           0.42075
38                  Philippines           0.60809
39                            ?           1.79049
40                       Mexico           1.97476
41                United-States          89.58570

7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capitalgain' and 'capital-loss'

In [13]:
sqladb("SELECT capital_gain as 'capital-gain', capital_loss as 'capital-loss', (capital_gain - capital_loss) as 'Net-Capital-Gain' FROM ds")

       capital-gain  capital-loss  Net-Capital-Gain
0              2174             0              2174
1                 0             0                 0
2                 0             0                 0
3                 0             0                 0
4                 0             0                 0
5                 0             0                 0
6                 0             0                 0
7                 0             0                 0
8             14084             0             14084
9              5178             0              5178
10                0             0                 0
11                0             0                 0
12                0             0                 0
13                0             0                 0
14                0             0                 0
15                0             0                 0
16                0             0                 0
17                0             0                 0
18                0             0                 0
19                0             0                 0
20                0             0                 0
21                0             0                 0
22                0             0                 0
23                0          2042             -2042
24                0             0                 0
25                0             0                 0
26                0             0                 0
27                0             0                 0
28                0             0                 0
29                0             0                 0
...             ...           ...               ...
32531             0             0                 0
32532             0             0                 0
32533             0             0                 0
32534             0             0                 0
32535             0             0                 0
32536             0             0                 0
32537             0             0                 0
32538         15020             0             15020
32539             0             0                 0
32540             0             0                 0
32541             0             0                 0
32542             0             0                 0
32543             0             0                 0
32544             0             0                 0
32545             0             0                 0
32546             0             0                 0
32547             0             0                 0
32548          1086             0              1086
32549             0             0                 0
32550             0             0                 0
32551             0             0                 0
32552             0             0                 0
32553             0             0                 0
32554             0             0                 0
32555             0             0                 0
32556             0             0                 0
32557             0             0                 0
32558             0             0                 0
32559             0             0                 0
32560         15024             0             15024

[32561 rows x 3 columns]

In [16]:
ds = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header = None)
ds.columns = ['age','workclass','fnlwgt','education','education-num','marital_status','occupation',
              'relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','state']
ds

,age,workclass,fnlwgt,education,education-num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,state
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [17]:
#1. Create an sqlalchemy engine using a sample from the data set
import sqlalchemy as sa
engine = sa.create_engine('sqlite:///mydb1', echo =False)
ds.to_sql('ds', engine, if_exists='replace', chunksize=1000)

In [18]:
#2. Write two basic update queries
# Print to see the existing values
result = engine.execute("SELECT fnlwgt, education,age FROM ds WHERE age = 39").fetchall()
print("{l} records found".format(l=len(result)))
print(result)
print("\n")

816 records found

In [19]:
#update adult table recordes of ecduation values to Technical where age is 39
engine.execute("UPDATE ds set education = 'Technical' WHERE age = 39")

#update adult table of fnlwgt columns values to 0 where age  = 39
engine.execute("UPDATE ds set fnlwgt = 0 WHERE age = 39")

In [20]:
#Checking Reslut below: Updated education and fnlwgt column values.
result = engine.execute("SELECT fnlwgt, education,age FROM ds WHERE age = 39").fetchall()
print("{l} records found".format(l=len(result)))
print(result)
print("\n")

816 records found
[(0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39), (0, 'Technical', 39)]

In [21]:
#2.Two Delete Queries
#Delete queries to delete records where age is 39 and fnlwgt is 128392
engine.execute("DELETE FROM ds WHERE age = 39")
engine.execute("DELETE FROM ds WHERE fnlwgt = 128392")

In [22]:
#Check the table for deleted records
result = engine.execute("SELECT fnlwgt, education,age FROM ds WHERE age = 39").fetchall()
print("{l} records found".format(l=len(result)))
print(result)
print("\n")

0 records found
[]

In [24]:
#3.Two Filter Queries

result = engine.execute("SELECT fnlwgt, education,age FROM ds WHERE age = {age}".format(age=50)).fetchall()
result1 = engine.execute("SELECT fnlwgt, education FROM ds WHERE education = '{edu}'".format(edu="Bachelors")).fetchall()

In [25]:
print(result)
print('\n')
print(result1)

[(83311, ' Bachelors', 50), (251585, ' Bachelors', 50), (313321, ' Assoc-acdm', 50), (204518, ' 7th-8th', 50), (30653, ' Masters', 50), (176609, ' Some-college', 50), (193884, ' 7th-8th', 50), (288353, ' Bachelors', 50), (193374, ' 1st-4th', 50), (196232, ' HS-grad', 50), (114117, ' HS-grad', 50), (195322, ' Doctorate', 50), (219420, ' HS-grad', 50), (50459, ' HS-grad', 50), (23780, ' Masters', 50), (124793, ' HS-grad', 50), (168212, ' Doctorate', 50), (767403, ' HS-grad', 50), (293196, ' HS-grad', 50), (133963, ' Bachelors', 50), (157043, ' 11th', 50), (356619, ' HS-grad', 50), (146015, ' HS-grad', 50), (75472, ' HS-grad', 50), (358740, ' HS-grad', 50), (343748, ' Some-college', 50), (88926, ' HS-grad', 50), (421132, ' HS-grad', 50), (137815, ' HS-grad', 50), (113176, ' HS-grad', 50), (175339, ' HS-grad', 50), (30447, ' Assoc-voc', 50), (73493, ' Some-college', 50), (21095, ' Some-college', 50), (160151, ' Some-college', 50), (140592, ' HS-grad', 50), (196963, ' 7th-8th', 50), (171338, ' Some-college', 50), (159670, ' HS-grad', 50), (211319, ' Masters', 50), (156008, ' 11th', 50), (159219, ' Bachelors', 50), (147629, ' Masters', 50), (112351, ' HS-grad', 50), (176924, ' 10th', 50), (156877, ' 11th', 50), (137253, ' Bachelors', 50), (181139, ' Some-college', 50), (20179, ' Masters', 50), (88842, ' Bachelors', 50), (221336, ' HS-grad', 50), (273536, ' 7th-8th', 50), (174752, ' HS-grad', 50), (92079, ' Some-college', 50), (237735, ' 5th-6th', 50), (121685, ' Some-college', 50), (177705, ' Some-college', 50), (125417, ' Prof-school', 50), (100029, ' Bachelors', 50), (391016, ' Bachelors', 50), (198103, ' Bachelors', 50), (363405, ' Bachelors', 50), (93690, ' HS-grad', 50), (44368, ' HS-grad', 50), (170050, ' 7th-8th', 50), (400004, ' Some-college', 50), (217083, ' HS-grad', 50), (229272, ' HS-grad', 50), (176969, ' HS-grad', 50), (116287, ' Assoc-acdm', 50), (386397, ' Bachelors', 50), (139464, ' Bachelors', 50), (163708, ' HS-grad', 50), (156623, ' Prof-school', 50), (174964, ' 10th', 50), (144968, ' HS-grad', 50), (169182, ' HS-grad', 50), (36489, ' Some-college', 50), (146603, ' Prof-school', 50), (103063, ' Bachelors', 50), (125417, ' Assoc-acdm', 50), (162632, ' HS-grad', 50), (174855, ' HS-grad', 50), (22428, ' Masters', 50), (184424, ' Some-college', 50), (175456, ' HS-grad', 50), (71417, ' HS-grad', 50), (186888, ' HS-grad', 50), (207367, ' Some-college', 50), (202296, ' Assoc-voc', 50), (343847, ' HS-grad', 50), (127315, ' Bachelors', 50), (117791, ' HS-grad', 50), (128378, ' 5th-6th', 50), (96586, ' Assoc-voc', 50), (69345, ' Assoc-voc', 50), (123429, ' Some-college', 50), (196193, ' Masters', 50), (86373, ' HS-grad', 50), (100109, ' Bachelors', 50), (178530, ' Prof-school', 50), (182360, ' HS-grad', 50), (95469, ' HS-grad', 50), (138358, ' Some-college', 50), (279129, ' Bachelors', 50), (145166, ' Masters', 50), (370733, ' HS-grad', 50), (105010, ' HS-grad', 50), (321822, ' Prof-school', 50), (324506, ' HS-grad', 50), (140516, ' HS-grad', 50), (173224, ' Masters', 50), (400630, ' Prof-school', 50), (133963, ' HS-grad', 50), (44368, ' Some-college', 50), (287598, ' Some-college', 50), (121038, ' Assoc-voc', 50), (69345, ' Assoc-acdm', 50), (92969, ' 1st-4th', 50), (144361, ' HS-grad', 50), (378747, ' HS-grad', 50), (36480, ' 10th', 50), (200618, ' Assoc-acdm', 50), (170562, ' Assoc-acdm', 50), (110748, ' Some-college', 50), (305319, ' 7th-8th', 50), (195298, ' Some-college', 50), (159650, ' Some-college', 50), (69614, ' 10th', 50), (198400, ' HS-grad', 50), (104729, ' HS-grad', 50), (133963, ' Bachelors', 50), (348099, ' 10th', 50), (192982, ' HS-grad', 50), (166419, ' 11th', 50), (210217, ' Bachelors', 50), (136913, ' HS-grad', 50), (204838, ' HS-grad', 50), (285200, ' Some-college', 50), (148953, ' HS-grad', 50), (183611, ' Some-college', 50), (22418, ' 9th', 50), (116211, ' Prof-school', 50), (119099, ' Some-college', 50), (57758, ' Assoc-voc', 50), (172046, ' Some-college', 50), (24013, ' Some-college', 50), (108435, ' Masters', 50), (183390, ' Bachelors', 50), (180522, ' Some-college', 50), (144361, ' HS-grad', 50), (34832, ' Bachelors', 50), (142073, ' HS-grad', 50), (320510, ' Bachelors', 50), (162327, ' Bachelors', 50), (30682, ' Masters', 50), (258819, ' HS-grad', 50), (150941, ' HS-grad', 50), (30008, ' Bachelors', 50), (154779, ' Some-college', 50), (120914, ' 11th', 50), (209464, ' HS-grad', 50), (172942, ' Some-college', 50), (34233, ' HS-grad', 50), (204447, ' Some-college', 50), (176751, ' Masters', 50), (199995, ' Bachelors', 50), (97449, ' Some-college', 50), (237729, ' HS-grad', 50), (92968, ' Bachelors', 50), (136836, ' HS-grad', 50), (211654, ' 10th', 50), (259377, ' Masters', 50), (225772, ' Doctorate', 50), (307392, ' Masters', 50), (149770, ' Masters', 50), (166758, ' Some-college', 50), (304260, ' Assoc-acdm', 50), (112873, ' Bachelors', 50), (37913, ' Bachelors', 50), (242517, ' Bachelors', 50), (158284, ' Some-college', 50), (168539, ' HS-grad', 50), (72351, ' Bachelors', 50), (173020, ' Some-college', 50), (158294, ' Assoc-voc', 50), (162632, ' HS-grad', 50), (99392, ' Some-college', 50), (167380, ' 7th-8th', 50), (337606, ' HS-grad', 50), (121411, ' 12th', 50), (202044, ' Bachelors', 50), (135643, ' HS-grad', 50), (118058, ' Some-college', 50), (165001, ' Bachelors', 50), (254148, ' Some-college', 50), (77905, ' Bachelors', 50), (312477, ' HS-grad', 50), (189811, ' Bachelors', 50), (260579, ' HS-grad', 50), (98350, ' Some-college', 50), (307555, ' Bachelors', 50), (279337, ' Bachelors', 50), (98228, ' HS-grad', 50), (128478, ' HS-grad', 50), (177487, ' HS-grad', 50), (140741, ' 11th', 50), (20795, ' Some-college', 50), (127151, ' Masters', 50), (311551, ' Masters', 50), (95577, ' HS-grad', 50), (155594, ' Assoc-acdm', 50), (346014, ' 7th-8th', 50), (220640, ' Masters', 50), (237819, ' HS-grad', 50), (89041, ' HS-grad', 50), (289207, ' Doctorate', 50), (40623, ' Some-college', 50), (114758, ' Bachelors', 50), (155118, ' HS-grad', 50), (27484, ' HS-grad', 50), (221532, ' Assoc-acdm', 50), (160724, ' Masters', 50), (196975, ' HS-grad', 50), (138179, ' Assoc-acdm', 50), (172052, ' HS-grad', 50), (50178, ' Some-college', 50), (152810, ' Bachelors', 50), (222020, ' HS-grad', 50), (231495, ' HS-grad', 50), (32372, ' HS-grad', 50), (209320, ' Bachelors', 50), (175804, ' HS-grad', 50), (176867, ' Doctorate', 50), (165050, ' 10th', 50), (283281, ' 7th-8th', 50), (24647, ' Some-college', 50), (274528, ' Some-college', 50), (219420, ' Doctorate', 50), (168672, ' Masters', 50), (173754, ' HS-grad', 50), (108926, ' Some-college', 50), (238959, ' Bachelors', 50), (35224, ' HS-grad', 50), (87263, ' HS-grad', 50), (150999, ' Masters', 50), (130780, ' HS-grad', 50), (205803, ' Masters', 50), (114056, ' Assoc-voc', 50), (185846, ' HS-grad', 50), (63000, ' Some-college', 50), (177896, ' HS-grad', 50), (189107, ' HS-grad', 50), (203098, ' Bachelors', 50), (200783, ' 7th-8th', 50), (169925, ' HS-grad', 50), (104849, ' Prof-school', 50), (109277, ' 9th', 50), (118565, ' 11th', 50), (133963, ' Bachelors', 50), (204402, ' HS-grad', 50), (192203, ' 11th', 50), (153931, ' HS-grad', 50), (96657, ' Bachelors', 50), (185354, ' Masters', 50), (221791, ' Assoc-acdm', 50), (138022, ' Some-college', 50), (398625, ' 11th', 50), (129673, ' Bachelors', 50), (120190, ' Masters', 50), (24185, ' Bachelors', 50), (338283, ' Some-college', 50), (99307, ' HS-grad', 50), (124076, ' Bachelors', 50), (189183, ' HS-grad', 50), (192654, ' 10th', 50), (240374, ' Masters', 50), (186272, ' Some-college', 50), (299831, ' Some-college', 50), (124963, ' Bachelors', 50), (172511, ' Some-college', 50), (211319, ' Bachelors', 50), (124094, ' HS-grad', 50), (248619, ' HS-grad', 50), (54261, ' HS-grad', 50), (305147, ' Bachelors', 50), (193871, ' Bachelors', 50), (166220, ' Assoc-acdm', 50), (31621, ' HS-grad', 50), (93705, ' Some-college', 50), (150876, ' HS-grad', 50), (198581, ' Prof-school', 50), (283676, ' Some-college', 50), (171225, ' Bachelors', 50), (220019, ' Masters', 50), (166565, ' HS-grad', 50), (143664, ' Bachelors', 50), (158294, ' Prof-school', 50), (186565, ' Bachelors', 50), (113290, ' HS-grad', 50), (123429, ' Bachelors', 50), (266529, ' 11th', 50), (231196, ' Bachelors', 50), (200960, ' Some-college', 50), (138514, ' Some-college', 50), (104501, ' Masters', 50), (215990, ' HS-grad', 50), (158948, ' 7th-8th', 50), (226735, ' Some-college', 50), (105010, ' Bachelors', 50), (297906, ' Some-college', 50), (228057, ' HS-grad', 50), (198681, ' Some-college', 50), (172175, ' Prof-school', 50), (98975, ' Bachelors', 50), (256861, ' HS-grad', 50), (139296, ' 11th', 50), (44116, ' HS-grad', 50), (36489, ' 10th', 50), (98980, ' Bachelors', 50), (50178, ' HS-grad', 50), (321770, ' HS-grad', 50), (281504, ' Some-college', 50), (275181, ' 5th-6th', 50), (191062, ' HS-grad', 50), (233369, ' Some-college', 50), (195844, ' Assoc-acdm', 50), (163998, ' Bachelors', 50), (191299, ' HS-grad', 50), (173630, ' HS-grad', 50), (143953, ' HS-grad', 50), (173630, ' HS-grad', 50), (145333, ' Doctorate', 50), (166565, ' HS-grad', 50), (120781, ' Bachelors', 50), (271160, ' Some-college', 50), (132716, ' Some-college', 50), (289390, ' HS-grad', 50), (187830, ' Bachelors', 50), (226497, ' Some-college', 50), (221336, ' Some-college', 50), (238959, ' Some-college', 50), (94391, ' Assoc-voc', 50), (153064, ' HS-grad', 50), (133014, ' Assoc-voc', 50), (287927, ' HS-grad', 50), (237868, ' Masters', 50), (425804, ' Bachelors', 50), (341797, ' Prof-school', 50), (163948, ' HS-grad', 50), (234037, ' HS-grad', 50), (31014, ' HS-grad', 50), (162327, ' Some-college', 50), (117496, ' HS-grad', 50), (174102, ' HS-grad', 50), (204447, ' Masters', 50), (33304, ' HS-grad', 50), (180607, ' HS-grad', 50), (302708, ' Bachelors', 50), (177705, ' Bachelors', 50), (68898, ' Masters', 50), (98215, ' HS-grad', 50), (183173, ' HS-grad', 50), (191130, ' Assoc-voc', 50), (65160, ' Bachelors', 50), (38310, ' 7th-8th', 50), (64667, ' HS-grad', 50), (410186, ' HS-grad', 50), (30731, ' Assoc-voc', 50), (175070, ' Prof-school', 50), (138852, ' Masters', 50), (190762, ' 5th-6th', 50), (234373, ' Masters', 50), (48358, ' HS-grad', 50), (207246, ' Some-college', 50), (108446, ' Some-college', 50), (185846, ' HS-grad', 50), (145409, ' Bachelors', 50), (128478, ' HS-grad', 50), (158680, ' Masters', 50), (161438, ' HS-grad', 50), (107265, ' HS-grad', 50), (146310, ' 9th', 50), (188186, ' Masters', 50), (92486, ' Some-college', 50), (161075, ' HS-grad', 50), (78649, ' Some-college', 50), (89534, ' HS-grad', 50), (171924, ' Bachelors', 50), (341797, ' HS-grad', 50), (71898, ' 5th-6th', 50), (157043, ' Masters', 50), (46401, ' Bachelors', 50), (124963, ' HS-grad', 50), (163002, ' HS-grad', 50), (240496, ' Some-college', 50), (126566, ' HS-grad', 50), (97741, ' HS-grad', 50), (172175, ' Prof-school', 50), (401118, ' HS-grad', 50), (141875, ' HS-grad', 50), (168212, ' Masters', 50), (172281, ' HS-grad', 50), (164198, ' Assoc-acdm', 50), (145409, ' HS-grad', 50), (55527, ' Assoc-acdm', 50), (197054, ' Prof-school', 50), (81548, ' HS-grad', 50), (194514, ' Masters', 50), (240612, ' Bachelors', 50), (24790, ' HS-grad', 50), (217577, ' HS-grad', 50), (306707, ' HS-grad', 50), (43764, ' Doctorate', 50), (195784, ' 12th', 50), (339547, ' Prof-school', 50), (163921, ' 7th-8th', 50), (266945, ' HS-grad', 50), (95949, ' Bachelors', 50), (194231, ' Masters', 50), (67794, ' HS-grad', 50), (257126, ' HS-grad', 50), (145717, ' HS-grad', 50), (197322, ' 11th', 50), (160572, ' HS-grad', 50), (194186, ' HS-grad', 50), (29231, ' HS-grad', 50), (45961, ' Bachelors', 50), (167065, ' Bachelors', 50), (283676, ' Some-college', 50), (128143, ' Bachelors', 50), (156951, ' Assoc-acdm', 50), (163948, ' Masters', 50), (196307, ' Some-college', 50), (138358, ' 10th', 50), (151580, ' Assoc-acdm', 50), (163921, ' HS-grad', 50), (206862, ' Masters', 50), (128798, ' Bachelors', 50), (145419, ' Masters', 50), (167886, ' Some-college', 50), (123044, ' Masters', 50), (212685, ' HS-grad', 50), (99925, ' HS-grad', 50), (218382, ' Some-college', 50), (132716, ' Prof-school', 50), (174655, ' Some-college', 50), (192964, ' HS-grad', 50), (94885, ' Bachelors', 50), (279461, ' Some-college', 50), (167793, ' Prof-school', 50), (23686, ' Some-college', 50), (320386, ' Assoc-acdm', 50), (280278, ' HS-grad', 50), (191025, ' Masters', 50), (185407, ' Assoc-voc', 50), (96062, ' HS-grad', 50), (104501, ' HS-grad', 50), (74879, ' HS-grad', 50), (283676, ' Doctorate', 50), (201689, ' 7th-8th', 50), (65408, ' HS-grad', 50), (268553, ' HS-grad', 50), (240612, ' HS-grad', 50), (304955, ' Bachelors', 50), (36480, ' HS-grad', 50), (20795, ' HS-grad', 50), (140516, ' Bachelors', 50), (169646, ' Bachelors', 50), (160107, ' Masters', 50), (257117, ' 9th', 50), (184007, ' Some-college', 50), (116933, ' HS-grad', 50), (93730, ' 10th', 50), (32801, ' Bachelors', 50), (178596, ' HS-grad', 50), (338033, ' Some-college', 50), (167728, ' Doctorate', 50), (276241, ' Bachelors', 50), (138270, ' HS-grad', 50), (558490, ' HS-grad', 50), (297551, ' HS-grad', 50), (198362, ' Assoc-voc', 50), (171852, ' Bachelors', 50), (134766, ' Bachelors', 50), (100480, ' Masters', 50), (339954, ' Assoc-voc', 50), (117295, ' 10th', 50), (129956, ' HS-grad', 50), (213290, ' Assoc-voc', 50), (24139, ' Masters', 50), (155574, ' Masters', 50), (95435, ' 7th-8th', 50), (211116, ' 10th', 50), (196504, ' Doctorate', 50), (270194, ' Bachelors', 50), (222020, ' HS-grad', 50), (97778, ' HS-grad', 50), (135339, ' 12th', 50), (306790, ' Some-college', 50), (146429, ' HS-grad', 50), (27539, ' Some-college', 50), (171199, ' 11th', 50), (164127, ' HS-grad', 50), (222381, ' Some-college', 50), (104501, ' HS-grad', 50), (163671, ' HS-grad', 50), (195638, ' 10th', 50), (177927, ' HS-grad', 50), (548361, ' Bachelors', 50), (126592, ' HS-grad', 50), (183638, ' HS-grad', 50), (128143, ' Bachelors', 50), (301583, ' HS-grad', 50), (196193, ' Bachelors', 50), (462966, ' 10th', 50), (108933, ' 9th', 50), (269095, ' Bachelors', 50), (172970, ' HS-grad', 50), (42402, ' Prof-school', 50), (99894, ' 5th-6th', 50), (183915, ' Bachelors', 50), (150975, ' HS-grad', 50), (138852, ' Some-college', 50), (271262, ' HS-grad', 50), (132716, ' HS-grad', 50), (182907, ' HS-grad', 50), (269095, ' HS-grad', 50), (334273, ' Bachelors', 50), (343014, ' Some-college', 50), (94081, ' HS-grad', 50), (213296, ' Some-college', 50), (213654, ' HS-grad', 50), (146325, ' HS-grad', 50), (251240, ' Masters', 50), (176227, ' Bachelors', 50), (204577, ' Bachelors', 50), (313546, ' HS-grad', 50), (123174, ' Doctorate', 50), (226497, ' Some-college', 50), (109277, ' HS-grad', 50), (124793, ' Some-college', 50), (22211, ' Masters', 50), (175339, ' HS-grad', 50), (46155, ' Assoc-voc', 50), (154728, ' Some-college', 50), (156606, ' Some-college', 50), (234143, ' Masters', 50), (54709, ' HS-grad', 50), (155574, ' HS-grad', 50), (135465, ' Bachelors', 50), (41890, ' HS-grad', 50), (339905, ' Some-college', 50), (89737, ' Some-college', 50), (190333, ' Prof-school', 50), (175804, ' Bachelors', 50), (201513, ' HS-grad', 50), (152810, ' Some-college', 50), (371305, ' HS-grad', 50), (131982, ' HS-grad', 50), (205100, ' 7th-8th', 50), (308764, ' HS-grad', 50), (230951, ' Bachelors', 50), (234657, ' Some-college', 50), (238187, ' Bachelors', 50), (175029, ' HS-grad', 50), (187830, ' Masters', 50), (143730, ' Bachelors', 50), (34067, ' Assoc-voc', 50), (101094, ' Masters', 50), (263200, ' 5th-6th', 50), (28952, ' Some-college', 50), (228238, ' HS-grad', 50), (128814, ' HS-grad', 50), (74660, ' Some-college', 50), (111700, ' Masters', 50), (421561, ' Some-college', 50), (231725, ' HS-grad', 50), (201882, ' Masters', 50), (102346, ' Bachelors', 50), (344621, ' HS-grad', 50), (176157, ' Masters', 50), (107665, ' Some-college', 50), (102615, ' HS-grad', 50), (117496, ' Bachelors', 50), (301024, ' Bachelors', 50), (52565, ' Some-college', 50), (310774, ' Bachelors', 50), (99476, ' Masters', 50), (139703, ' Some-college', 50), (187465, ' 11th', 50), (121441, ' 11th', 50), (240922, ' Assoc-acdm', 50), (195690, ' HS-grad', 50), (177896, ' Doctorate', 50), (38795, ' Bachelors', 50), (92811, ' Bachelors', 50), (278188, ' HS-grad', 50), (257933, ' Some-college', 50), (485710, ' Doctorate', 50), (208630, ' Masters', 50), (302372, ' Bachelors', 50)]


[]

In [27]:
#5.Write Two Function Queries
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# Create a new table with Column named "Value"
engine.execute('CREATE TABLE IF NOT EXISTS Fib (value INTEGER)')
engine.execute('INSERT INTO Fib VALUES (?)',[(str(x),) for x in fib(10)])
print(engine.execute("SELECT * FROM Fib").fetchall())

[(0,), (1,), (1,), (2,), (3,), (5,), (8,), (13,), (21,), (34,)]